In [1]:
import pandas as pd
import numpy as np
from sklearn import cross_validation
from sklearn import svm
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
train = pd.read_csv("Australian.csv")
train.head()

   1  22.08   11.46  2  4  4.1  1.585  0  0.1  0.2  1.1  2.1  100  1213  0.3
0  0  22.67   7.000  2  8    4  0.165  0    0    0    0    2  160     1    0
1  0  29.58   1.750  1  4    4  1.250  0    0    0    1    2  280     1    0
2  0  21.67  11.500  1  5    3  0.000  1    1   11    1    2    0     1    1
3  1  20.17   8.170  2  6    4  1.960  1    1   14    0    2   60   159    1
4  0  15.83   0.585  2  8    8  1.500  1    1    2    0    2  100     1    1

In [17]:
train['0.3'] = train['0.3'].map({1: 1, 0: -1})
print(train['0.3'])

0     -1
1     -1
2      1
3      1
4      1
5     -1
6      1
7     -1
8     -1
9      1
10     1
11    -1
12     1
13    -1
14     1
15     1
16     1
17    -1
18     1
19    -1
20    -1
21    -1
22    -1
23    -1
24     1
25    -1
26     1
27     1
28     1
29     1
      ..
659    1
660   -1
661    1
662    1
663   -1
664   -1
665   -1
666   -1
667   -1
668   -1
669    1
670    1
671   -1
672    1
673    1
674   -1
675   -1
676   -1
677   -1
678    1
679   -1
680   -1
681    1
682   -1
683    1
684    1
685   -1
686    1
687    1
688    1
Name: 0.3, Length: 689, dtype: int64

In [19]:
features = train.columns[0:13]
X = train[features]
y = train['0.3']
train.head()

   1  22.08   11.46  2  4  4.1  1.585  0  0.1  0.2  1.1  2.1  100  1213  0.3
0  0  22.67   7.000  2  8    4  0.165  0    0    0    0    2  160     1   -1
1  0  29.58   1.750  1  4    4  1.250  0    0    0    1    2  280     1   -1
2  0  21.67  11.500  1  5    3  0.000  1    1   11    1    2    0     1    1
3  1  20.17   8.170  2  6    4  1.960  1    1   14    0    2   60   159    1
4  0  15.83   0.585  2  8    8  1.500  1    1    2    0    2  100     1    1

In [20]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X,y,test_size=0.2,random_state=0)
C= 0.1

In [22]:
clf_svm = svm.SVC(kernel='linear', C=C)
clf_svm.fit(X_train, y_train)
y_pred_svm = clf_svm.predict(X_test) 
acc_svm = accuracy_score(y_test, y_pred_svm)
print ("Overall Linear SVM accuracy: ",acc_svm)

Overall Linear SVM accuracy:  0.8768115942028986

In [25]:
clf_svm = svm.SVC(kernel='rbf', gamma=0.0001, C=C)
clf_svm.fit(X_train, y_train)
y_pred_svm = clf_svm.predict(X_test) 
acc_svm = accuracy_score(y_test, y_pred_svm)
print ("Overall RBF KERNEL SVM accuracy: ",acc_svm)

Overall RBF KERNEL SVM accuracy:  0.6739130434782609